/* Font margin css primary css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.headline_tag{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.btn_primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFFFFF;
    padding: 20px 45px;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Font margin css */
/* header */
.intro_container{
background-color: #d18e9d77;
display: flex;
justify-content: space-between;
border-radius: 0 0 10px 10px;
}
/* header */
.intro_divs h1{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 32px;
}
.intro_description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 550px;
    margin-top: 0;
    margin-bottom: 32px;
}

.intro_divs img{
    width: 635px;
    margin-bottom: -2px;
}
.intro_content{
    max-width: 650px;
    padding: 150px 100px 0 240px;
}
/* header ended */
/* featured flowers */
.featured_intro{
    text-align: center;
    width: 600px;
    margin: 175px 660px 50px 660px;
}
 .featured_description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
 }
 .featured_flower_divs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 25px;
    margin: 0px 240px 130px 240px;
 }
 .featured_box a{
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-top: 35px;
 }
 .featured_flower{
    height: 378px;
    padding: 120px 50px 50px 50px;
    border-radius: 300px 300px 0px 0px;
    overflow: hidden;
 }
 .pink_flower{
    background-color:#A7216226;
 }
 .flower_bouquet{
    background-color:#0597A026;
 }
 .yellow_flower{
    background-color:#477D1126;
 }
/* featured flowers ends */
/* services */
.services_text{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}
.services_divs{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 85px 175px 90px 175px;
    margin: 0 140px 130px 140px;
    background-color: #2727270D;
    border-radius: 10px;
}
.services_box img{
    margin: 0 auto;
}
/* services ended */
/* HOT DEALS */
.hot_deal_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d18e9d77;
    padding: 100px 430px 100px 400px;
    border-radius: 15px;
    text-align: center;
}
.hot_deal_title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.hot_deal_title span{
    color:#515bd4;
}
.hot_deal_description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 590px;
    margin-top: 0;
    margin-bottom: 30px;
}
/* HOT DEALS Ends*/
/* Instagram */
.instagram_container{
    margin-top: 130px;
    text-align: center;
}
.instagram_container h3{
    color: #515bd4;
}
.instagram_container h3 span{
    color: #dd2a7b;
}
.instagram_description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin: 25px 660px 50px 660px;
}
.instagram_pic_divs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 240px 130px 240px;
}
.instagram_pic_divs img{
    border-radius: 10px;
}
/* Instagram ended*/

/* footer */
footer{
    background-color:#111010 ;
    text-align: center;
    padding: 130px 650px;
}
footer h2{
    color: white;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 25px;
}
footer h2 span{
    color: #E55473;
}
footer p{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 35px;
}
footer h6{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}
/* footer ended*/